@import "common.css";
*{
  text-align: left;
  
}
header {
  background-color: green;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  padding: 40px;
}

header, div, section, ul, li, footer, nav {
  position: relative;
}

div, section, ul {
  padding-top: 30px;
}

header .logo {
  width: 20%;
  background-color: pink;
}

header nav {
  width: 70%;
  background-color: blue;
  margin: auto;
  padding: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

header nav ul {
  background-color: lightgreen;
}

header nav ul li {
  display: inline;
  background-color: yellow;
  border: 3px solid black;
}

#hero-header {
  background-color: magenta;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#hero-header .text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 5%;
  background-color: yellow;
}

#hero-header .button {
  display: inline;
}

#hero-header .button-1 {
  background-color: aliceblue;
}

#hero-header .button-2 {
  background-color: burlywood;
}

#hero-header > img {
  padding-top: 7%;
}

#social-proof {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: red;
}

#social-proof .images {
  display: flex;
  width: 80%;
  padding: 2% 0 2% 0;
  margin-bottom: 5%;
  justify-content: space-between;
  background-color: darkcyan;
}

#social-proof .images li {
  border: 3px solid black;
}

#features-1 {
  height: 600px;
  background-color: yellowgreen;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#features-1 .heading {
  background-color: bisque;
  width: 100%;
  height: 400px
}

#features-1 > ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: cadetblue;
  margin-left: 20px;
}


#features-1 .content li {
  background-color: pink;
  padding-top: 40px;
  margin-bottom: 30px;
  max-width: 50%;
}

#cta-1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: cyan;
  height: 400px;
}

#cta-1 .button {
  display: inline;
}

#cta-1 .container {
  background-color: green;
  padding: 40px;
}

#cta-1 .container .buttons {
  background-color: orange;
}

#features-2 {
  height: 800px;
  background-color: yellow;
  padding: 50px;
  align-items: left;
}

#features-2 .heading {
  background-color: green;  
  margin-bottom: 20px;
  padding: 40px;
  text-align: left;
}


#features-2 .content {
  background-color: rgb(129, 250, 250);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 40px;
  margin-bottom: 40px;
}

#features-2 .content ul {
  background-color: rgb(125, 125, 255);
  width: 50%;
  padding: 20px;
}

#features-2 .content li {
  background-color: darkkhaki;
  margin: 20px;
  padding-top: 30px;
  align-items: left;
  text-align: left;
}

#pricing {
  background-color: orange;
  padding: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* align-items: center; */
}

#pricing .heading {
  padding: 40px;
  background-color: green;
  width: 30% ;
}

#pricing .card-container {
  background-color: rgb(177, 245, 20);
  padding: 40px;
  width: 65%;
  display: flex;
  justify-content: space-evenly;
}

#pricing .card {
  background-color: rgb(245, 170, 245);
  margin: 20px;
  width: 100%;
  padding: 30px;
  align-items: center;
}

#pricing .card ul{
  background-color: cyan;
  padding: 30px;
}

#pricing .card li{
  background-color: darksalmon;
  margin-bottom: 10px;
}

#quote {
  height: 400px;
  background-color: rgb(206, 127, 206);
  padding: 40px;
  display: flex;
  flex-direction: row;
}

#quote .content {
  background-color: rgb(181, 206, 92);
  padding: 40px;
  width: 60%;
}

#quote .content ul {
  background-color: rgb(216, 113, 113);
 
  padding: 40px;
}

#quote .content ul li {
  display: inline;
}

#cta-2 {
  padding: 40px;
  background-color: orange;
  display: flex;
  flex-direction: row;
}

#cta-2 .content {
  background-color: green;
  padding: 30px;
  width: 60%;
}

#cta-2 .content .buttons {
  background-color: gold;
  
}

#cta-2 .content .buttons a {
  background-color: rgb(55, 121, 243);
}

footer {
  /* height: 700px; */
  background-color: magenta;
  padding: 40px;
}

footer .newsletter {
  background-color: yellow;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 40px;
}

footer .newsletter .text-wrapper {
  background-color: green;
}

footer .newsletter .user {
  background-color: red;
  display: flex;
  align-items: center;
}

.footer-nav {
  background-color: cyan;
  padding: 40px;
  display: flex;
  justify-content: space-evenly;
}

.nav-column {
  display: flex;
  background-color: indianred;
  text-align: left;
}

footer .legal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: red;
  padding: 40px;
}

footer .legal .logo {
  background-color: yellowgreen;
  width: 20%;
}

