@import "common.css";

header {
  height: 180px;
  background-color: green;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

header, div, section, ul, li, footer {
  position: relative;
}

div, section, ul {
  padding-top: 30px;
}

header .logo {
  height: 50%;
  width: 20%;
  background-color: pink;
  margin: auto;
}

header .logo * {
  display: inline;
}

header nav {
  height: 50%;
  width: 70%;
  background-color: blue;
  margin: auto;
}

header nav ul li {
  display: inline;
  height: 10%;
  width: 10%;
  background-color: purple;
}

header nav ul :nth-child(4) {
  margin-right: 50%;
}

#hero-header {
  height: 500px;
  background-color: magenta;
}

#hero-header .text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 5%;
}

#hero-header .button {
  display: inline;
}

#hero-header .button-1 {
  background-color: aliceblue;
}

#hero-header .button-2 {
  background-color: burlywood;
}

#hero-header > img {
  padding-top: 7%;
}

#hero-header .text-1 {
  width: 6%;
  background-color: cyan;
}

#hero-header .text-2 {
  width: 30%;
  background-color: green;
}

#hero-header .text-3 {
  width: 6%;
  background-color: orange;
}

#social-proof {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: red;
}

#social-proof #text {
  width: 50%;
  background-color: blue;
  margin-top: 5%;
}

#social-proof .imag-container {
  display: flex;
  width: 80%;
  padding: 2% 0 2% 0;
  margin-bottom: 5%;
  justify-content: space-between;
  background-color: darkcyan;
}

#features-1 {
  height: 600px;
  background-color: yellowgreen;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#features-1 > * {
  width: 25%;
}

#features-1 > .heading {
  background-color: red;
}

#features-1 > .content-1 {
  background-color: yellow;
}

#features-1 > .content-2 {
  background-color: gray;
}

#features-1 .text-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: pink;
  height: 100px;
  margin-bottom: 30px;
}

#cta-1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: cyan;
  margin: 50px;
  height: 400px;
}

#cta-1 .button {
  display: inline;
}

#cta-1 .container {
  background-color: green;
}

#features-2 {
  height: 800px;
  background-color: yellow;
  padding: 50px;
  align-items: left;
}

#features-2 .heading {
  height: 30%;
  width: 60%;
  background-color: green;  
  margin-bottom: 50px;
  padding: 30px;
}

#features-2 .heading > * {
  text-align: left;
}

#features-2 .content {
  height: 70%;
  width: 90%;
  background-color: cyan;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 40px;
}

#features-2 .text {
  width: 40%;
  background-color: red;
}

#features-2 .text ul {
  padding: 30px;
}

#features-2 .text ul li {
  background-color: white;
  border: 3px solid black;
}

#pricing {
  height: 800px;
  background-color: orange;
  padding: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* align-items: center; */
}

#pricing .heading {
  padding: 30px;
  background-color: green;
  width: 25%;
}

#pricing .content {
  width: 25%;
  background-color: red;
  padding-top: 30px;
}

#pricing .content ul {
  background-color: purple;
}

#pricing .content ul li {
  background-color: cyan;
  border: 2px solid black;
}

#quote {
  height: 600px;
  background-color: purple;
  padding: 40px;
  display: flex;
  flex-direction: row;
}

#quote .content {
  width: 70%;
  background-color: green;
  padding: 30px;
}

#quote .content > * {
  margin-bottom: 20px;
}

#quote .content ul {
  width: 70%;
  background-color: red;
}

#quote .content ul li {
  display: inline;
  background-color: cyan;
}

#cta-2 {
  padding: 40px;
  background-color: orange;
  display: flex;
  flex-direction: row;
}

#cta-2 .content {
  background-color: green;
  padding: 30px;
  width: 60%;
}

#cta-2 .content .buttons {
  background-color: red;
  padding: 30px;
}

footer {
  height: 700px;
  background-color: magenta;
  padding: 40px;
}

footer .newsletter {
  background-color: yellow;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 40px;
}

footer .newsletter .text-wrapper {
  background-color: green;
}

footer .newsletter .user {
  background-color: red;
  display: flex;
  align-items: center;
}

footer nav {
  background-color: cyan;
  padding: 40px;
}

footer nav table {
  padding: 30px;
  width: 100%;
} 

footer nav table tr {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

footer nav table td, footer nav table th {
  width: 100px;
  background-color: white;
}

footer .legal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: red;
  padding: 40px;
}

footer .legal .logo {
  background-color: yellowgreen;
}

