@import "common.css";

body {
  display: flex;
  flex-direction: row;
  height: 1500px;
  /* background-color: red; */
  padding: 40px;
}

nav, main, article, div, ul, section {
  position: relative;
  padding-top: 40px;
  padding-left: 20px;
}

nav {
  background-color: green;
  width: 15%;
}

main {
  background-color: yellow;
  width: 55%;
}

article {
  background-color: purple;
  width: 15%;
}

.nav-second-page-container {
  display: flex;
  flex-direction: column;
  background-color: cyan;
}

.nav-second-page-container > :nth-child(8) {
  margin-bottom: 200px;
}

#header {
  padding: 30%;
}

div {
  background-color: green;
}

main .headers-list {
  background-color: pink;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

main .balance {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  background-color: red;
}

main .heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 200px;
  background-color: orange;
}

main .categories {
  background-color: gray;
}

main .text-wrapper {
  background-color: purple;
  padding: 20px;
}

main .transaction-history {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

main .transaction-history .buttons {
  background-color: blueviolet;
}