@import "common.css";

body {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

nav, main, article, div, ul, section, header, table {
  position: relative;
  padding-top: 40px;
}

nav {
  background-color: green;
  padding: 40px;
}

nav ul {
  padding: 30px;
  white-space: nowrap;
}

nav .top {
  background-color: cyan;
}

nav .bottom {
  background-color: lightsteelblue;
}

main {
  background-color: yellow;
  padding: 40px;
}

main #heading {
  display: flex;
  background-color: orange;
  padding: 40px;
}

main #heading .text-wrapper {
  background-color: purple;
  padding: 40px;
}

main #heading .balance {
  background-color: pink;
}

main #heading .buttons {
  background-color: gray;
}

main #transaction-history {
  background-color: yellowgreen;
  padding: 40px;
}

main #transaction-history header {
  background-color: lightgray;
  display: flex;
  padding: 30px;
  justify-content: space-between;
}

main #transaction-history header .buttons {
  background-color: peru;
  display: flex;
  padding: 30px;
  justify-content: space-between;
}

main #transaction-history table {
  border: 3px solid black;
  background-color: lightgreen;
  padding: 30px;
}

main #transaction-history th {
  background-color: lightcoral;
  border: 3px solid black;
}

main #transaction-history td {
  background-color: lightcyan;
  border: 3px solid black;
}

main #transaction-history tfoot {
  align-items: center;
  background-color: lightgreen;
}

.pagination {
  display: flex;
  justify-content: space-between;
  white-space: nowrap;
  background-color: lightgoldenrodyellow;
}

.pagination .previous, .pagination .next {
  background-color: lightsalmon;
}

.pagination ul {
  background-color: lightseagreen;
}

.pagination li {
  display: inline;
  border: 1px solid black;
}

#side-panel {
  padding: 40px;
  background-color: lightcoral;
  white-space: nowrap;
}

#side-panel > header {
  padding: 40px;
  background-color: lightgoldenrodyellow; 
}

#side-panel > header .account {
  padding: 40px;
  background-color: lightgreen;
}

#side-panel .cards header {
  display: flex;
  justify-content: space-between;
  background-color: lightgrey;
}

#side-panel .cards {
  padding: 40px;
  background-color: lightcyan;
}

#side-panel .budgets header {
  background-color: darkcyan;
  display: flex;
  justify-content: space-between;
}

#side-panel .budgets ul {
  background-color: lightgreen;
}

#side-panel .budgets li {
  display: flex;
  border: 3px solid black;
  align-items: center;
  padding: 10px;
  background-color: white;
}

#side-panel .budgets li .wrapper {
  background-color: lightsalmon;
  border: 3px solid black;
}