@import "common.css";

body {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  /* height: 1500px; */
  /* background-color: red; */
}

nav, main, article, div, ul, section {
  position: relative;
  padding-top: 40px;
}

nav {
  background-color: green;
  padding: 30px;
}

nav .top {
  background-color: cyan;
  padding: 30px;
}

nav .bottom {
  background-color: lightsteelblue;
  padding: 30px;
}

main {
  background-color: yellow;
  width: 55%;
}

article {
  background-color: purple;
  width: 15%;
}

#header {
  padding: 30%;
}

div {
  background-color: green;
}

main .headers-list {
  background-color: pink;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

main .balance {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  background-color: red;
}

main .heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 200px;
  background-color: orange;
}

main .categories {
  background-color: gray;
}

main .text-wrapper {
  background-color: purple;
  padding: 20px;
}

main .transaction-history {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

main .transaction-history .buttons {
  background-color: blueviolet;
}