@import "common.css";

ul {
  list-style-type: none;
}

.navbar {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 350px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: bisque;
  overflow-x: hidden;
  padding-top: 20px;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 20px;
    background-color: bisque;
    padding: 2%;
}

.mainHead {

  height: 150px;
  width: 100%;
  background-color: salmon;
}

body {
      margin-left: 19%;
      display: flex;
      flex-direction: row;
      width: 100%;
}

.profileBox {
    background-color: blanchedalmond;
    height: 80px;
    width: 50%;
}

.left {
    background-color: blueviolet;
    width: 50%;
    height: 500px;
    align-items: center;
    padding-top: 20px;

}

.right {
    background-color: aqua;
    width: 50%;
    height: 700px;
    align-items: center;
    padding: 6%;
}

.margin {
  margin-top: 30px;
    margin-bottom: 20px;
}

.second {
    background-color: aqua;
}

.secondVer {
  width: 5%
}

.spaceTop {
  margin-top: 500px;
}

.spaceTopTwo: {
  margin-top: 10px;
}