@import "common.css";

ul {
  list-style-type: none;
}

nav {
  display: flex;
}

.navbar {
  justify-content: center;
  height: 100%;
  width: 350px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: bisque;
  overflow-x: hidden;
  padding-top: 20px;
}

.navbar .bottom {
  margin-top: 300px;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 20px;
    background-color: bisque;
    padding: 2%;
}

.row_2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 20px;
    padding: 2%;
}

.mainHead {
  height: 150px;
  width: 100%;
  background-color: salmon;
}

body {
      margin-left: 19%;
      display: flex;
      flex-direction: row;
      width: 100%;
}

.profileBox {
    background-color: blanchedalmond;
    height: 80px;
    width: 50%;
}

.left {
    background-color: blueviolet;
    width: 50%;
    height: 500px;
    align-items: center;
    padding-top: 20px;
}

.right {
    background-color: aqua;
    width: 50%;
    height: 1000px;
    align-items: center;
    padding: 6%;
}

.margin {
  margin-top: 30px;
    margin-bottom: 20px;
}

.second {
    background-color: aqua;
}

.secondVer {
  width: 5%
}

.spaceTop {
  margin-top: 500px;
}

.spaceTopTwo {
  margin-top: 10px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.upload {
      width: 400px;
      display: flex;
      flex-direction: row;
      margin-top: 10px;
      background-color: gray;
}