@import "common.css";

header {
  height: 80px;
  background-color: green;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

header .logo {
  height: 80%;
  width: 20%;
  background-color: pink;
  margin: auto;
}

header nav {
  height: 80%;
  width: 70%;
  background-color: blue;
  margin: auto;
}


