@import "common.css";

header {
  height: 180px;
  background-color: green;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

header .logo {
  height: 50%;
  width: 20%;
  background-color: pink;
  margin: auto;
}

header .logo * {
  display: inline;
}

header nav {
  height: 50%;
  width: 70%;
  background-color: blue;
  margin: auto;
}

header nav ul {
  list-style-type: none;
}

header nav ul li {
  display: inline;
  height: 10%;
  width: 10%;
  background-color: purple;
}

header nav ul :nth-child(4) {
  margin-right: 50%;
}
