@import "common.css";

ul {
  list-style-type: none;
}

.navbar {
  padding: 10;
  display: flex;
  background-color:bisque;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 20px;
    background-color: bisque;
    padding: 2%;
}

.mainHead {
  height: 150px;
  width: 100%;
  background-color: salmon;
}

body {
      display: flex;
      flex-direction: row;
}

.profileBox {
    background-color: blanchedalmond;
    height: 80px;
    width: 50%;
}

.left {
    background-color: blueviolet;
    width: 50%;
   height: 500px;
   align-items: center;
       padding-top: 20px;

}

.right {
    background-color: aqua;
    width: 50%;
    height: 500px;
    align-items: center;
       padding: 6%;
}

.margin {
    margin-bottom: 20px;
}