@import "common.css";

header {
  height: 180px;
  background-color: green;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

header .logo {
  height: 50%;
  width: 20%;
  background-color: pink;
  margin: auto;
}

header .logo * {
  display: inline;
}

header nav {
  height: 50%;
  width: 70%;
  background-color: blue;
  margin: auto;
}

header nav ul li {
  display: inline;
  height: 10%;
  width: 10%;
  background-color: purple;
}

header nav ul :nth-child(4) {
  margin-right: 50%;
}

#hero-header {
  height: 500px;
  background-color: magenta;
}

#hero-header .text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 5%;
}

#hero-header .button {
  display: inline;
}

#hero-header .button-1 {
  background-color: aliceblue;
}

#hero-header .button-2 {
  background-color: burlywood;
}

#hero-header > .img {
  padding-top: 7%;
}

#hero-header .text-1 {
  width: 6%;
  background-color: cyan;
}

#hero-header .text-2 {
  width: 30%;
  background-color: green;
}

#hero-header .text-3 {
  width: 6%;
  background-color: orange;
}

#features-1 {
  height: 600px;
  background-color: yellowgreen;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#features-1 > * {
  width: 25%;
  background-color: red;
}

#features-1 .text-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: pink;
  height: 100px;
  margin-bottom: 30px;
}
